<!DOCTYPE html>
<html>
    <head>
        <title>Mahesh's blog</title>
    </head>
    <body>
        <header>
            <marquee behavior="alternate"><h1><a href="/">Mahesh's blog</a></h1></marquee>
        </header>
        <hr>
        <article>
            <time>published: 12.10.2022, 12:08</time>
            <h2 align="middle"><a href="">Kolhapur</a></h2>
            <p>Kolhapur is a city on the banks of the Panchganga River in the southern part of the Indian state of Maharashtra. It is the administrative headquarter of the Kolhapur district. Kolhapur is known as `Dakshin Kashi' or Kashi of the South because of its spiritual history and the antiquity of its shrine Mahalaxmi, better known as Ambabai. The region is known for the production of the famous hand-crafted and braided leather slippers called Kolhapuri chappal, which received the Geographical Indication designation in 2019. In Hindu mythology, Kolhapur is referred to as "Karvir."</p>
            <img src="https://www.maharashtratourism.gov.in/documents/38210/111791/Kolhapur.jpg/19bab6a8-edaa-725b-bb0f-532136f007ea?t=1624535544365">
        </article>

        <article>
            <time>published: 12.10.2022, 12:08</time>
            <h2><a href="">Mahalaxmi Mandir</a></h2>
            <p>Mahalaxmi Mandir is an important Hindu temple dedicated to Goddess Lakshmi, who resides here as Supreme Mother Mahalakshmi and is worshipped by locals as Ambabai. Goddess Mahalakshmi is the consort of Lord Vishnu and it is customary among Hindus to visit Tirumala Venkateswara Temple, Kolhapur Mahalakshmi Temple and Padmavathi Temple as a yatra (pilgrimage). It is believed that visiting these temples as a pilgrimage helps achieve moksha (salvation).</p>
            <img src="https://c8.alamy.com/zooms/9/52eb2f91055e4aaf9cc084e99c267d5c/erywnb.jpg">
        </article>
    </body>
</html>