<!DOCTYPE html>
<html>
    <head>
        <title>Mahesh's blog</title>
    </head>
    <body>
        <header>
            <marquee behavior="alternate"><h1><a href="/">Mahesh's blog</a></h1></marquee>
        </header>
        <hr>
        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2 align="middle"><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %}
<!--        <article>-->
<!--            <time>published: 12.10.2022, 12:08</time>-->
<!--            <h2><a href="">Mahalaxmi Mandir</a></h2>-->
<!--            <p>Mahalaxmi Mandir is an important Hindu temple dedicated to Goddess Lakshmi, who resides here as Supreme Mother Mahalakshmi and is worshipped by locals as Ambabai. Goddess Mahalakshmi is the consort of Lord Vishnu and it is customary among Hindus to visit Tirumala Venkateswara Temple, Kolhapur Mahalakshmi Temple and Padmavathi Temple as a yatra (pilgrimage). It is believed that visiting these temples as a pilgrimage helps achieve moksha (salvation).</p>-->
<!--            <img src="https://c8.alamy.com/zooms/9/52eb2f91055e4aaf9cc084e99c267d5c/erywnb.jpg">-->
<!--        </article>-->

<!--        <article>-->
<!--            <time>published: 12.10.2022, 06:33</time>-->
<!--            <h2><a href="">Fort Panhala</a></h2>-->
<!--            <p>Panhala fort (also known as Panhalgad and Panhalla (literally "the home of serpents")), is located in Panhala, 20 kilometres northwest of Kolhapur in Maharashtra, India. It is strategically located looking over a pass in the Sahyadri mountain range which was a major trade route from Bijapur in the interior of Maharashtra to the coastal areas. Due to its strategic location, it was the centre of several skirmishes in the Deccan involving the Marathas, the Mughals and the British East India Company, the most notable being the Battle of Pavan Khind. Here, the queen regent of Kolhapur, Tarabai, spent her formative years. Several parts of the fort and the structures within are still intact. It is also called as the 'Fort of Snakes' as it is zigzagged in shape.</p>-->
<!--            <img src="https://live-core-api.travalour.com/common/v1/thumbnail/7906dd0e-7671-4c87-9aa2-9095155b520e?format=webp&width=960">-->
<!--        </article>-->
    </body>
</html>